<header>
  <h1>Add a new task below!</h1>
</header>

<a href="/">&laquo; Home</a>

<% if @message != "" %>
  <h3> <%= @message %> </h3>
<% end %>

<section>

  <form action="" method="post" accept-charset="utf-8">
    <label for="task_name">Task Name</label>
    <input type="textbox" name="task_name" id="task_name">
    <br>
    <br>

    <label for="description">Task Description (optional)</label>
    <input type="textbox" name="description" id="description">
    <br>
    <br>

    <input type="submit" value="Submit">
  </form>

</section>
