<h1>Add a new task below!</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="task_name">Task Name</label>
    <input type="textbox" name="task_name" id="task_name">
    <br>
    <br>
  <label for="description">Task Description (optional)</label>
    <input type="textbox" name="description" id="description">

  <input type="submit" value="Submit">
</form>

<br>
<a href="/">Home</a>

<pre>
 <%=params %>
</pre>
