<header>
  <h1>Task List</h1>
</header>

<section>
  <ul id="tasks">
    <!-- task in @tasks is an array -->
    <% @tasks.each do |task| %>
    <li>
       <h3> <%= task[1] %> </h3>
       <p>
         <%= task[2] %>
       </p>
    </li>
    <% end %>
  </ul>
</section>
