<h1>Task List</h1>

<section>
  <ul>
    <!-- task in @tasks is an array -->
    <% @tasks.each do |task| %>
    <li>
       <h3> <%= task[1] %> </h3>
       <p>
         <%= task[2] %>
       </p>
    </li>
    <% end %>
  </ul>
</section>

 <a href="/add_task">Add New Task</a>
