html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

a {
  color: #fff;
}

body {
  margin: 0 auto;
}

main {
  margin: 0 auto;
  width: 660px;
  background: #329594;
  padding: 15px;
  margin-top: 20px;
}

section {
  margin: 0 auto;
  width: 500px;
}
